

.header {
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    list-style-type: none;
    width: auto;
    margin: auto;
    justify-content: space-around;
    width: 650px;
}

.header ul li {
    padding: 10px;
}

.header .link h2 {
    margin: 0;
}

.header .link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(62, 233, 219)
    ;
}

.collage .link {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;


}

.collage h1 {
    color: aqua;
}
.active{
    font-weight: 650;
    /* font-family: cursive; */
    /* background-color: rgb(51, 96, 81); */
    border-radius: 5px;
    padding: 4px;
}